.homeWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.carImages {
  height: 25vh;
}

.homeContinent {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.continentsWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contImages {
  height: 100%;
  width: 100%;
}

.contImg {
  position: relative;
  height: 35vh;
  overflow: hidden;
  width: 30vw;
  cursor: pointer;
  margin-bottom: 2px;
  margin-left: 2px;
}

.middle {
  transition: 0.5s ease;
  position: absolute;
  top: 20%;
  left: 20%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  z-index: 100;
}

.contImg .content-overlay {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.contImg:hover .content-overlay {
  opacity: 1;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.contImg:hover .content-details {
  top: 50%;
  left: 50%;
  opacity: 1;
}

.fadeIn-bottom {
  top: 80%;
}

.content-list {
  color: white;
  letter-spacing: 2px;
}

.homeHeaderWrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  margin-top: 50px;
}

.homeHeaderImg {
  height: 70vh;
}

.homeHeaderContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 35%;
}

.homeHeaderSubContent {
  font-size: 20px;
  letter-spacing: 1px;
}

.topDishesHome {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.contactHome {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 100px;
}

.contactDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contentFields {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-bottom: 40px;
}

.continentPageSubHeader {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  margin-top: 50px;
}

.contHeaderImg {
  height: 45vh;
}

.continentPageCardsFlex {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 50px;
}

.viewMore {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 150px;
}

.viewMore hr {
  width: 10%;
  height: 5px;
  background-color: black;
}

.viewMoreContent {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.SingleMealPageImageCarousel {
  margin-top: 50px;
  margin-bottom: 50px;
}

.carousel-root {
  display: flex;
  justify-content: center;
  align-items: center;
}

.SingleMealPageContentFlex {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
  margin-left: 25%;
  margin-bottom: 50px;
}

.SingleMealPageContentHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  margin-bottom: 50px;
}

.SingleMealPageHr {
  height: 2px;
  margin-left: 10%;
  width: 80%;
  background-color: black;
}

.contactPageSubHeader {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;
}

.contactPageLocation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.contactHomeImg {
  height: 600px;
}

.contactHomeSendBtn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 92%;
  margin-top: 20px;
}

.vegetablesImg {
  width: 100vw;
  height: 400px;
}

.circularProgress {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.circularProgressContact {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

.errorWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media screen and (max-width: 1280px) {
  .carImages {
    height: 22vh;
  }
  .homeHeaderSubContent {
    font-size: 15px;
    line-height: 22px;
  }
  .middle {
    top: 15%;
  }
  .contImg:hover .content-details {
    top: 57%;
  }
  .content-list {
    letter-spacing: 1px;
  }
  .contactHomeImg {
    height: 500px;
  }
  .contactHomeSendBtn {
    width: 98%;
  }
  .vegetablesImg {
    height: 150px;
  }
}

@media screen and (max-width: 1280px) {
  .carImages {
    height: 22vh;
  }
  .homeHeaderSubContent {
    font-size: 15px;
    line-height: 22px;
  }
  .middle {
    top: 15%;
  }
  .contImg:hover .content-details {
    top: 57%;
  }
  .content-list {
    letter-spacing: 1px;
  }
  .contactHomeImg {
    height: 500px;
  }
  .contactHomeSendBtn {
    width: 98%;
  }
  .vegetablesImg {
    height: 150px;
  }
}

@media screen and (max-width: 900px) {
  .SingleMealPageContentHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .SingleMealPageContentFlex {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
  }
  .SingleMealPageFlag {
    margin-top: 20px;
    height: 50px;
  }
}
